.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Project name
    .collapse.navbar-collapse
      form.form-inline.header-form(role='form', method='POST', action='/busform', id='form')
        input(type='hidden', name='_csrf', value=token)
        label(class='control-label', for='position') From:
        input.form-control(type='text', name='position', id='position', autofocus=true)
        label(class='control-label', for='destination') To:
        input.form-control(type='text', name='destination', id='destination')
