extends layout

block content
  #map-canvas

  .results_pg
    .result
      .bus-from
        result one from
      .bus-to
        result one to
      .next-bus
        result one next
    .result
      .bus-from
        result two from
      .bus-to
        result two to
      .next-bus
        result two next
    .result
      .bus-from
        result three from
      .bus-to
        result three to
      .next-bus
        result three next
      
block append head
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  script(src="https://maps.googleapis.com/maps/api/geocode/output?parameters")
  script(src="/js/map.js")
  script(src="/js/results_handler.js")
