extends layout
title
	LeBusLeval
description
	Fuck it Ship Description

block content
  h1 Bootstrap starter template
	header.hero2
		
	header.hero
		.title
			FUCK IT SHIP IT

	.mission
		Mission:get the bus from A to B
		.description
			span.text
				It is a mobile
	
	.footer
		Here is footer content
