extends layout

block content
  #map-canvas

  .results_pg
    .result
      Submit a search for results...
      
block append head
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  script(src="/js/map.js")
