extends layout

block content
  #map-canvas

  .results_pg
    .results-head
      .start
        Starting from:
      .end
        Ending at:
      .total-dist
        Distance:
      .duration
        Duration:


block append head
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUnqUZ1Edc5H2Mx8m_jZvBbpRlYwFZfDw&sensor=false")
  script(src="/js/distance.js")
  script(src="/js/results_handler.js")
