extends layout

block content
  #map-canvas

  .results_pg
    .results-head
      .start
        Starting from:
      .end
        Ending at:
      .total-dist
        Distance:
      .duration
        Duration:
    .result
      .start-loc
        There at
        span.end-time 5:00pm
      .end-loc
        Over there at
        span.start-time 9:00pm
      .total-dist
        45.33 miles
      .duration
        4 hours
      
block append head
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUnqUZ1Edc5H2Mx8m_jZvBbpRlYwFZfDw&sensor=false")
  script(src="/js/distance.js")
  script(src="/js/results_handler.js")
