extends layout

block content
  #map-canvas

  .results_pg
    <div class="results-head">
      <div class="start">
        Starting from:
      </div>
      <div class="end">
        Ending at:
      </div>
      <div class="total-dist">
        Distance:
      </div>
      <div class="duration">
        Duration:
      </div>
    </div>


block append head
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUnqUZ1Edc5H2Mx8m_jZvBbpRlYwFZfDw&sensor=false")
  script(src="/js/distance.js")
  script(src="/js/results_handler.js")
