extends layout

block content
  #map-canvas

  .results_pg
    .result
      .bus-from
      .bus-to
      .next-bus
      
block append head
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUnqUZ1Edc5H2Mx8m_jZvBbpRlYwFZfDw&sensor=false")
  script(src="/js/distance.js")
  script(src="/js/results_handler.js")
