extends layout

block content
  h1 Bootstrap starter template
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    | All you get is this text and a mostly barebones HTML document.
    
   	<head>
		<!-- CHARSET DEFINITION -->
		<meta charset="utf-8" />

		<!-- TITLE -->
		<title>LeBusLaval</title>

		<!-- SITE DESCRIPTION -->
		<meta name="description" content="Fuck it Ship Description" />

		<!-- SHORTCUT ICON -->
		<link rel="shortcut icon" type="text/css" href="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTCWDyT6btUIIAWEhPPiyCKimi5F6EGp0ExwYGpBvQ_zqPRpJSW" />

		<!-- IE COMPATIBILITY -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- CSS LINK -->
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<!-- FACEBOOK OG DATA -->
		<meta property="og:title" content="LeBusLaval"/>
		<meta property="og:url" content="http://www.fuckitship.it"/>
        <meta property="og:site_name" content="LeBusLaval"/>
        <meta property="og:image" content="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTCWDyT6btUIIAWEhPPiyCKimi5F6EGp0ExwYGpBvQ_zqPRpJSW"/>
        <meta name="og:description" content="Find a bus in Laval" />
		<meta property="og:type" content="website"/>

		<!-- JQUERY LINK -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>

	</head>
	<body>
		<header class="hero2">
		</header>
		<header class="hero">
			<div id="title">
				FUCK&nbsp;&nbsp;IT&nbsp;&nbsp;SHIP&nbsp;&nbsp;IT
			</div>
		</header>

		<div class="mission">
			Mission:get the bus from A to B
			<div class="description">
			<span id="text"> It is a mobile </span>
			</div>
		</div>

		<div class="footer">

		</div>

	</body>
