doctype html
html
  block append head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='We show you how to use public transportation!')
    meta(name='author', content='Nate Mealey, Spencer Buja, Jack Jessup, and Josh Merle')
    meta (property="og:title", content="What'sTheBusAbout")
		meta (property="og:url" content="http://whatsthebusabout.info/")
    meta (property="og:site_name", content="")
    meta (property="og:image", content="http://whatsthebusabout.info/img/mainIcon.png")
    meta (name="og:description", content="We show you how to use public transportation!")
		meta (property="og:type", content="website")
		


    title #{title} - What'sTheBusAbout
    != css('styles')
    != js('application')
  body
    #wrap
      include partials/navigation
      .container
        include partials/flash
        block content

    include partials/footer
